@model ClinicDomain.Model.PatientCard

@{
    ViewData["Title"] = "Create";
}

<div style="margin-top: 20px; position: relative;">
    <a asp-area="" asp-controller="PatientCards" asp-action="Index" class="image-button" style="position: absolute; left: -40px; top: 50%; transform: translateY(-50%);"></a>
    <h2>Створення</h2>
</div>

<div class="card border-primary mb-3" style="margin-top: 20px;">
    <form asp-action="Create">
        <div class="card-body row">
            <div class="col-md-6">
                <div class="input-group mb-3" style=" height: 50px; margin-top:15px;">
                    <span class="input-group-text" style="width:200px;">
                        @Html.DisplayNameFor(model => model.LastName)
                    </span>
                    <input asp-for="LastName" class="form-control" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
                <div class="input-group mb-3" style=" height: 50px; margin-top:30px;">
                    <span class="input-group-text" style="width:200px;">
                        @Html.DisplayNameFor(model => model.FirstName)
                    </span>
                    <input asp-for="FirstName" class="form-control" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
                <div class="input-group mb-3" style=" height: 50px; margin-top:30px;">
                    <span class="input-group-text" style="width:200px;">
                        @Html.DisplayNameFor(model => model.FatherName)
                    </span>
                    <input asp-for="FatherName" class="form-control" />
                    <span asp-validation-for="FatherName" class="text-danger"></span>
                </div>
                <div class="input-group mb-3" style=" height: 50px; margin-top:30px;">
                    <span class="input-group-text" style="width:200px;">
                        @Html.DisplayNameFor(model => model.PhoneNumber)
                    </span>
                    <input asp-for="PhoneNumber" class="form-control" />
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>
                <div class="input-group mb-3" style=" height: 50px; margin-top:30px;">
                    <span class="input-group-text" style="width:200px;">
                        @Html.DisplayNameFor(model => model.DateOfBirth)
                    </span>
                    <input asp-for="DateOfBirth" class="form-control datepicker" />
                    <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="input-group mb-3" style=" height: 131px; margin-top:15px;">
                    <span class="input-group-text" style="width:200px;">
                        @Html.DisplayNameFor(model => model.AddInfo)
                    </span>
                    <textarea asp-for="AddInfo" class="form-control" rows="4" style="resize: none;"></textarea>
                    <span asp-validation-for="AddInfo" class="text-danger"></span>
                </div>
                <div class="input-group mb-3" style=" height: 50px; margin-top:30px;">
                    <span class="input-group-text" style="width:200px;">
                        @Html.DisplayNameFor(model => model.Allergy)
                    </span>
                    <input asp-for="Allergy" class="form-control" />
                    <span asp-validation-for="Allergy" class="text-danger"></span>
                </div>
                <div class="input-group mb-3" style=" height: 50px; margin-top:30px;">
                    <span class="input-group-text" style="width:200px;">
                        @Html.DisplayNameFor(model => model.ChronicDisease)
                    </span>
                    <input asp-for="ChronicDisease" class="form-control" />
                    <span asp-validation-for="ChronicDisease" class="text-danger"></span>
                </div>
                <div class="input-group mb-3" style=" height: 50px; margin-top:30px;">
                    <span class="input-group-text" style="width:200px;">
                        @Html.DisplayNameFor(model => model.Diseases)
                    </span>
                    <input asp-for="Diseases" class="form-control" />
                    <span asp-validation-for="Diseases" class="text-danger"></span>
                </div>
                <div class="input-group mb-3" style=" height: 50px; margin-top:30px;">
                    <span class="input-group-text" style="width:200px;">
                        @Html.DisplayNameFor(model => model.DiscountId)
                    </span>
                    <select asp-for="DiscountId" class="form-control" asp-items="ViewBag.DiscountId"></select>
                </div>
            </div>
        </div>
        <div class="card-footer text-body-secondary d-flex align-items-center justify-content-center" style="height: 70px;">
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Зберегти</button>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>

    <script>
        $(document).ready(function () {
            $('.datepicker').datepicker({
                format: 'dd.mm.yyyy',
                autoclose: true
            });
        });
    </script>
}
