@model ClinicDomain.Model.PatientCard
@using ClinicDomain
@using ClinicInfrastructure

@{
    ViewData["Title"] = "Details";
}

<div style="margin-top: 20px; position: relative;">
    <a asp-area="" asp-controller="PatientCards" asp-action="Index" class="image-button" style="position: absolute; left: -40px; top: 50%; transform: translateY(-50%);"></a>
    <h2>Детальна інформація</h2>
</div>

<div class="card border-primary mb-3" style="margin-top:50px; ">
    <div class="card-header d-flex align-items-center justify-content-center" style="height: 60px;">
            <h4>@Html.DisplayFor(model => model.LastName) @Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.FatherName)</h4>
    </div>
    <div class="card-body row" >
        <div class="col-sm-6">
            <dl class="row">
                <div class="input-group mb-3" style=" height: 50px; margin-top:15px;">
                    <span class="input-group-text" style="width:200px;">                    
                        @Html.DisplayNameFor(model => model.PhoneNumber)</span>
                    <input class="form-control" id="readOnlyInput" type="text" placeholder="@Html.DisplayFor(model => model.PhoneNumber)" readonly disabled>
                </div>
                <div class="input-group mb-3" style="  height: 50px; margin-top:15px;">
                    <span class="input-group-text" style="width:200px;">
                        Вік
                    </span>
                    <input class="form-control" id="readOnlyInput" type="text" placeholder=" @{ var ageCalculator = new CalculateAge { DateOfBirth = new DateTime(Model.DateOfBirth.Year, Model.DateOfBirth.Month, Model.DateOfBirth.Day) };
                            var age = ageCalculator.AgeCalculator(); @age }" readonly disabled>
                </div>
                <div class="input-group mb-3" style="height: 130px; margin-top:15px;">
                    <span class="input-group-text" style="width:200px;">
                        @Html.DisplayNameFor(model => model.AddInfo)
                    </span>
                    <textarea class="form-control" id="readOnlyInput" rows="4" style="resize:none;" readonly disabled>@Html.DisplayFor(model => model.AddInfo)</textarea>
                </div>
            </dl>
        </div>
        <div class="col-sm-6">
            <dl class="row">
                <div class="input-group mb-3" style=" height: 50px; margin-top:15px;">
                    <span class="input-group-text" style="width:200px;">
                        @Html.DisplayNameFor(model => model.Allergy)
                    </span>
                    <input class="form-control" id="readOnlyInput" type="text" placeholder="@Html.DisplayFor(model => model.Allergy)" readonly disabled>
                </div>
                <div class="input-group mb-3" style=" height: 50px; margin-top:15px;">
                    <span class="input-group-text" style="width:200px;">
                        @Html.DisplayNameFor(model => model.ChronicDisease)
                    </span>
                    <input class="form-control" id="readOnlyInput" type="text" placeholder="@Html.DisplayFor(model => model.ChronicDisease)" readonly disabled>
                </div>
                <div class="input-group mb-3" style=" height: 50px; margin-top:15px;">
                    <span class="input-group-text" style="width:200px;">
                        @Html.DisplayNameFor(model => model.Diseases)
                    </span>
                    <input class="form-control" id="readOnlyInput" type="text" placeholder="@Html.DisplayFor(model => model.Diseases)" readonly disabled>
                </div>
                <div class="input-group mb-3" style=" height: 50px; margin-top:15px;">
                    <span class="input-group-text" style="width:200px;">
                        @Html.DisplayNameFor(model => model.Discount.SocialGroup)
                    </span>
                    <input class="form-control" id="readOnlyInput" type="text" placeholder="@Html.DisplayFor(model => model.Discount.SocialGroup)" readonly disabled>
                </div>
            </dl>
        </div>
    </div>
    <div class="card-footer text-body-secondary d-flex align-items-center justify-content-center" style="height: 80px;">
        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary" style="margin-right:30px;">Редагувати</a>
        <a class="btn btn-danger" style="margin-left:30px;" data-bs-toggle="modal" data-bs-target="#deleteConfirmationModal">Видалити</a>
    </div>
</div>


<div class="modal fade" id="deleteConfirmationModal" tabindex="-1" role="dialog" aria-labelledby="deleteConfirmationModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteConfirmationModalLabel">Підтвердження видалення</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Ви впевнені, що хочете видалити картку?
            </div>
            <div class="modal-footer">
                <form asp-action="Delete">
                    <input type="hidden" asp-for="Id" />
                    <input type="submit" value="Видалити" class="btn btn-danger"/>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
        const myModal = document.getElementById('myModal')
        const myInput = document.getElementById('myInput')

        myModal.addEventListener('shown.bs.modal', () => {
            myInput.focus()
        })
</script>
