@model IEnumerable<ClinicDomain.Models.PatientCard>

@{
    ViewData["Title"] = "Index";
}
<div style="margin-top:20px; display: flex; align-items: center; ">
    <a asp-area="" asp-controller="Home" asp-action="" class="image-button" style="position: absolute; left: 80px ; top: 14%; transform: translateY(-50%); z-index:4;"></a>
    <h2>Пацієнти</h2>
</div>

<div style="position: relative;">
    <div class="d-flex align-items-center" style="margin-bottom:20px; margin-top:20px;">
        <p class="me-2 mb-0">
            <a asp-action="Create" class="btn btn-primary">Додати</a>
        </p>
        <form class="input-group mb-0 d-flex ms-auto justify-content-end">
            <input class="form-control" name="searchString" style="max-width: 300px;" placeholder="Пошук" aria-describedby="button-addon2" value="@ViewBag.CurrentFilter">
            <button class="btn btn-primary" type="submit" id="button-addon2">Знайти</button>
        </form>
    </div>
 </div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                ПІБ
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Discount)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName) @Html.DisplayFor(modelItem => item.FirstName) @Html.DisplayFor(modelItem => item.FatherName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
                <td>
                    @{
                        if (item.Discount.Id == 1)
                        {
                        }
                        else
                        {
                            @Html.DisplayFor(modelItem => item.Discount.DiscountPercent)@:%
                        }
                    }
                </td>
            <td style="text-align: right;">
                <a asp-action="Details" asp-route-id="@item.Id" class="details-image-button"></a>
            </td>
        </tr>
}
    </tbody>
</table>
