@model ClinicDomain.Model.Appointment

@{
    ViewData["Title"] = "Create";
}
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>

<div style="margin-top: 20px; position: relative;">
    <a asp-area="" asp-controller="Appointments" asp-action="Index" class="image-button" style="position: absolute; left: -40px; top: 50%; transform: translateY(-50%);"></a>
    <h2>Створення</h2>
</div>


<div class="card border-primary mb-3" style="margin-top: 20px;">
    <form asp-action="Create">
        <div class="card-body row">
            <div class="col-md-6">
                <div class="input-group mb-3" style=" height: 50px; margin-top:15px;">
                    <span class="input-group-text" style="width:200px;">
                        @Html.DisplayNameFor(model => model.Date)
                    </span>
                    <input asp-for="Date" class="form-control datepicker" />
                    <span asp-validation-for="Date" class="text-danger"></span>
                </div>
                <div class="input-group mb-3" style=" height: 50px; margin-top:30px;">
                    <span class="input-group-text" style="width:200px;">
                        @Html.DisplayNameFor(model => model.StartTime)
                    </span>
                    <input asp-for="StartTime" class="form-control" />
                    <span asp-validation-for="StartTime" class="text-danger"></span>
                </div>
                <div class="input-group mb-3" style=" height: 50px; margin-top:30px;">
                    <span class="input-group-text" style="width:200px;">
                        @Html.DisplayNameFor(model => model.EndTime)
                    </span>
                    <input asp-for="EndTime" class="form-control" />
                    <span asp-validation-for="EndTime" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="input-group mb-3" style=" height: 50px; margin-top:15px;">
                    <span class="input-group-text" style="width:200px;">
                        @Html.DisplayNameFor(model => model.PatientId)
                    </span>
                    <select asp-for="PatientId" class="form-control select2" asp-items="ViewBag.PatientId"></select>
                </div>
                <div class="input-group mb-3" style=" height: 50px; margin-top:30px;">
                    <span class="input-group-text" style="width:200px;">
                        @Html.DisplayNameFor(model => model.ProceduresId)
                    </span>
                    <select asp-for="ProceduresId" class="form-control" asp-items="ViewBag.ProceduresId" id="proceduresSelect"></select>
                </div>
                <div class="input-group mb-3" style=" height: 50px; margin-top:30px;">
                    <span class="input-group-text" style="width:200px;">
                        @Html.DisplayNameFor(model => model.DoctorId)
                    </span>
                    <select asp-for="DoctorId" class="form-control" asp-items="ViewBag.DoctorId" id="doctorSelect"></select>
                </div>
            </div>
            <input type="hidden" asp-for="ClinicId" />
        </div>
        <div class="card-footer text-body-secondary d-flex align-items-center justify-content-center" style="height: 70px;">
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Зберегти</button>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>



    <script>
        $(document).ready(function () {
            $('.datepicker').datepicker({
                format: 'dd.mm.yyyy',
                autoclose: true
            });
        });
    </script>

}

