@using Microsoft.AspNetCore.Identity
@model ClinicInfrastructure.ViewModel.ChangeRoleViewModel

@{
    ViewData["Title"] = "Edit";
}

<h3>Зміна ролей для користувача @Model.UserName.Replace("_", " ")</h3>

<form asp-action="Edit" method="post">
    <input type="hidden" name="userId" value="@Model.UserId" />
    <div class="form-group" style="font-size:25px; margin-top: 30px;">
       @if (User.IsInRole("Owner"))
       {
            @foreach (IdentityRole role in Model.AllRoles)
            {
                <input type="checkbox" name="roles" value="@role.Name"
                @(Model.UserRoles.Contains(role.Name) ? "checked=\"checked\"" : "")
                @(role.Name == "Owner" ? "disabled" : "") /> @role.Name <br />

            }
       }
    </div>
    <button type="submit" class="btn btn-primary" style="margin-top:20px;">Зберегти</button>
</form>


